doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Map++
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Maps++

    #controls
      input#place(type='text' autofocus=true placeholder='Location')
      button#add Add
      select#vacations
        option Select A Vacation
      button#show Show Me!
      button#nsa Find Me!
    #map

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBAMlNUMi6ccnNWK0_Th04_be41nO4XNSk&sensor=true')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
